:root {
    --color-background: #ffffff;
    --color-background-soft: #f8f8f8;
    --color-background-mute: #f2f2f2;

    --color-border: #b6b6b6;

    --color-heading: #ffffff;
    --color-text: #282828;

    --color-error: #ffb4b4;

    --border-radius: 0.35rem;
    --color-brand: #f85a40;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #181818;
        --color-background-soft: #222222;
        --color-background-mute: #282828;

        --color-border: #464646;

        --color-heading: #181818;
        --color-text: #f2f2f2;

        --color-error: #7f1d1d;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    display: flex;
    color: var(--color-text);
    background: var(--color-background);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}
